/source/lex.yy.c
/source/lex.yyfunc.c
/source/y.tab.c
/source/y.tab.h
/source/yyfunc.tab.c
/source/yyfunc.tab.h
/DATA/1G/customer.tbl
/DATA/1G/lineitem.tbl
/DATA/1G/nation.tbl
/DATA/1G/orders.tbl
/DATA/1G/part.tbl
/DATA/1G/partsupp.tbl
/DATA/1G/region.tbl
/DATA/1G/supplier.tbl
/bin/*
